@charset "utf-8";
/* CSS Document */


html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {  margin: 0;  padding: 0;  border: 0;   font-family: Malgun Gothic, sans-serif !important; font-weight:normal; list-style:none}
/* margin: 0;  padding: 0;  border: 0;  font-size:100%;  vertical-align: baseline;  font-family: Malgun Gothic, sans-serif !important; font-weight:normal; list-style:none */


#wrap {width:100%;}
#header {height:64px;background:url(../../../../images/kdn/menu/bg_header.jpg) repeat-x;}
#container {}
.left_side {background:url(../../../../images/kdn/common/bg_leftside.gif) repeat-y; width:247px; min-height:889px; float:left;}


#header h1 {float:left;margin:10px 0  0 60px;width:250px}


/*탑메뉴*/
#header #gnb {float:left;padding:21px;margin-left: -87px;}
#header #gnb li {float:left;font-weight:800;font-size:16px;width:130px;text-align:center}
#header #gnb li a {font-size:16px;color:#fff;text-decoration:none;}
#header #gnb li a:hover {float:left;background:url(../../../../images/kdn/menu/gnb_over.png) no-repeat bottom;width:130px;height:42px}
.topOn {float:left;background:url(../../../../images/kdn/menu/gnb_over.png) no-repeat bottom;width:130px;height:42px}

.left_side .depth_1 {display:block;width:59px}
.left_side .depth_1 li {height:62px;}


.depth_2 {position:absolute; top:0; left:59px; background:url(../../../../images/kdn/menu/bg_2depth.gif) repeat-y; min-height:889px; width:187px}
.depth_2 ul li {float:left;margin:0;padding:0}
.depth_2 ul li a.lnb_d1 {float:left;height:31px}  

.submenu ul li {float:left;width:186px;height:31px;margin:0;padding:0}
.submenu ul li a {float:left;background:url(../../../../images/kdn/menu/leftmenu_bg.jpg) no-repeat 0 0;padding:7px 0 0 34px;width:152px;height:24px;color:#4e4e4e;text-decoration:none; font-size:12px; font-weight:800; letter-spacing:-0.075em}
.submenu ul li a:hover {float:left;background:url(../../../../images/kdn/menu/leftmenu_bg_on.jpg) no-repeat 0 0;padding:7px 0 0 34px;width:152px;height:24px;color:#fff} 
.active .on {float:left;background:url(../../../../images/kdn/menu/leftmenu_bg_on.jpg) no-repeat 0 0;padding:7px 0 0 34px;width:152px;height:24px;color:#fff}    
 

